RewriteEngine on# If the requested URL corresponds to an existing file or directory, use it directlyRewriteCond %{REQUEST_FILENAME} !-fRewriteCond %{REQUEST_FILENAME} !-d# If not, redirect the request to index.phpRewriteRule . index.php [L]