/* ===================================
    Crafto - Bisiness
====================================== */
/* font */

/* variable */
:root {     
    --base-color: #173E7D;
    --base-color-2: #43C387;
    --dark-gray: #262b35;
    --medium-gray:#868d98;
    --primary-font: 'Be Vietnam', sans-serif;
    --alt-font: "Plus Jakarta Sans", serif;
}
.arrow {
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: .7vw;
    height: .7vw;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
.text-base-color-2 {
    color:var(--base-color-2)
}
/* reset */
body { 
    font-size: 17px;
    line-height: 32px;
}
/* header */
header .navbar-brand img {
    max-height: 70px;
}
.navbar .navbar-nav .nav-link {
    font-size: 17px;
    font-weight: 400;
}
.sticky .header-transparent .header-button .btn {
    color: var(--dark-gray);
    border-color: var(--dark-gray);
}
.sticky .header-transparent .header-button .btn:hover {
    border-color: var(--dark-gray);
    color: var(--white);
    background:  var(--dark-gray);
}
header.sticky.sticky-active [data-header-hover="light"] .widget-text i {
    color: var(--white);
}
/* accordion style 02 */
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    background-color: var(--dark-gray);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--white);
}
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li:hover a,
.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li.active a{
    opacity: .5;
}


/* bg color */
.bg-gradient-sherpa-blue-black {
    background-image: linear-gradient(to right top, #03142e, #03142e, #03142e, #03142e, #03142e);
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.bg-gradient-sherpa-black-blue {
    background-image: linear-gradient(to right top, #232323, #222226, #232348, #22236D, #23248C);
} 
/* bg transparent color */
.bg-base-color-transparent {
    background-color: rgba(87, 88, 214,.8);
}
/*  tabs style 05  */
.tab-style-05 .nav-tabs > li.nav-item {
    letter-spacing: -.5px;
}
/* accordion */
.accordion .accordion-item .accordion-header .accordion-title i {
    top: 52%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {margin-bottom: 25px}

/*  progress bar style 01  */
.progress-bar-style-01 .progress .progress-bar-title {
    bottom: 15px;
}
/* page title */
.page-title-extra-large h1 {
    font-size: 4.7rem;
    line-height: 4.7rem;
}
/* separator line */
.separator-line-9px {
    height: 9px;
}
/* tag */
.tag-cloud a { 
    padding-top: 5px;
    padding-bottom: 9px;
}
/* blog comment */ 
.blog-comment li .btn-reply {
    padding-top: 5px;
    padding-bottom: 7px;
}
/* number pagination style 01 */
.pagination-style-01 .page-item .page-link {
    line-height: 42px;
}
.pagination-style-01 .page-item.active .page-link {
    background: var(--dark-gray);
    color: var(--white);
}
/* top right bottom left */
.bottom-minus-45px {
    bottom: -45px;
}
.right-minus-45px {
    right: -45px;
}
/* footer */
footer .footer-logo img {
   height: 70px !important;
}
.bg-base-color-2{
    background-color: #43c387;
}
.text-turquoise{
    color: #39f69d;
}
.text-justify{
    text-align: justify;
}
.hover-base:hover{
    background-color: #0a171e;
}
footer ul li {
    margin-bottom: 0;
}
.footer-dark a:hover {
    color: var(--white);
}
/* model popup */
.mfp-bg {
    background: #000000;
    opacity: 0.7;
}
/* media query responsive */
@media (max-width: 1499px) {
    .navbar .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    } 
}
@media (max-width: 1399px) {
    .navbar .navbar-nav .nav-link {
        padding-left: 13px;
        padding-right: 13px;
    }
    .sticky-wrap.shadow-in {
        left: 35px;
    }
}
@media (max-width: 1300px) {
    .sticky-wrap.shadow-in {
        left: 10px;
    }
}
@media (max-width: 991px) {
    .header-transparent .header-button .btn {
        color: var(--dark-gray);
        border-color: var(--dark-gray);
    }
    .header-transparent .header-button .btn:hover {
        border-color: var(--dark-gray);
        color: var(--white);
        background:  var(--dark-gray);
    }
    .navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
        width: calc(100% + 30px) !important;
        margin-left: -15px;
        padding: 10px 45px;
        margin-bottom: 0;
        margin-right: -15px;
    }
    .navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu li:last-child a {
        padding-bottom: 17px;
    }
}
.none-hover:hover{
    background-color: #0a171e;
    color: white;
}

@media (max-width: 767px) {
    section{
        padding: 10px !important;
    }
    p {
        margin-bottom: 20px;
    }
    ol, ul{
        padding-left: 1rem;
    }
    .catalog-res{
        font-size: 13px !important;
    }
    .page-title-extra-large h1 {
        font-size: 40px;
        line-height: 46px;
    }
    .text-event-res{
        font-size: 14px !important;
        line-height: 20px !important;
    }
}
.bg-light-blue{
    background-color: rgba(232, 236, 241, 0.79);
}

@media (min-width: 991px) {
    .top-menu-1{
        display: flex !important;
    }
    .top-menu-2{
        display: none !important;
    }
}
@media (max-width: 991px) {
    .top-menu-1{
        display: none !important;
    }
    .top-menu-2{
        display: flex !important;
    }
}
.tab-style-07 .nav-tabs .nav-item .nav-link{
    padding: 18.5px 25px !important;
}

.text-sub{
    color: rgba(232, 236, 241, 0.42);
}
.tab-style-01 .nav-tabs .nav-link.active, .tab-style-01 .nav-tabs .nav-link.show, .tab-style-01 .nav-tabs .nav-link:hover{
    border-radius: 10px;
    background-color: #092545;
    color: white;
}
.step-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.step {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #00AF6B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s, color 0.3s;
}

.step.active {
    background-color: #00AF6B;
    color: white;
}

.step-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00AF6B;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.step-container .step:nth-child(2) ~ .step-line {
    width: 50%;
}